@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.group:hover .group-hover\:block {
  display: block;
}

.absolute {
  position: absolute;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.space-y-2 > * + * {
  margin-top: 0.5rem;
}


:root {
  --secondary-color: #25756B;
}

/* For browsers supporting the scrollbar pseudo-elements */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

/* Mobile-specific scrollbar styling */
html {
  scrollbar-color: var(--secondary-color) #f1f1f1; /* Thumb and track colors */
  scrollbar-width: thin; /* Ensures smaller scrollbars */
}
